<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Angular Test Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/news">News</a></li>
      <li><a routerLink="/add-news">Add News</a></li>
      <li *ngIf="!loggedIn()"><a routerLink="/login">Login</a></li>
      <li (click)=logout() *ngIf="loggedIn()"><a href="#">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
